<a href="https://colab.research.google.com/github/zjzsu2000/CMPE297_AdvanceDL_Project/blob/main/Data_Preprocessing/data_preprocessing_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import io
import os
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive/')

data_path='/content/gdrive/MyDrive/CMPE297Sec49_group_project/dataset/'
#data_path ='/content/gdrive/Shareddrives/CMPE297_49_project/CMPE297Sec49_group_project/'

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

# To add sigma furtures

In [ ]:
%cd /content/gdrive/MyDrive/CMPE297Sec49_group_project/dataset/
!ls

/content/gdrive/MyDrive/CMPE297Sec49_group_project/dataset
AMD_option.csv	     FRPT_underlying.csv       PTCT_option.csv
AMD_underlying.csv   HZNP_option.csv	       PTCT_underlying.csv
AMED_option.csv      HZNP_underlying.csv       QDEL_option.csv
AMED_underlying.csv  JYNT_option.csv	       QDEL_underlying.csv
ATLC_option.csv      JYNT_underlying.csv       REGI_option.csv
ATLC_underlying.csv  LPSN_option.csv	       REGI_underlying.csv
BLFS_option.csv      LPSN_underlying.csv       RGEN_option.csv
BLFS_underlying.csv  LULU_option.csv	       RGEN_underlying.csv
CROX_option.csv      LULU_underlying.csv       SPSC_option.csv
CROX_underlying.csv  MRTX_option.csv	       SPSC_underlying.csv
data_convert.ipynb   MRTX_underlying.csv       STAA_option.csv
dataset_options.txt  NEO_option.csv	       STAA_underlying.csv
DXCM_option.csv      NEO_underlying.csv        VCYT_option.csv
DXCM_underlying.csv  NSTG_option.csv	       VCYT_underlying.csv
FATE_option.csv      NSTG_underlying.csv       VICR_option.csv
FATE_underlying.csv  option_data_NASDAQ.csv    VICR_underlying.csv
FIVN_option.csv      option_data_selected.csv  WIX_option.csv
FIVN_underlying.csv  PCTY_option.csv	       WIX_underlying.csv
FRPT_option.csv      PCTY_underlying.csv

In [ ]:
df_NASDAQ=pd.read_csv(data_path+'option_data_NASDAQ.csv')

In [ ]:
df_NASDAQ.shape

(2026070, 20)

In [ ]:
df_NASDAQ.head()

  UnderlyingSymbol  UnderlyingPrice Exchange  ...   Theta    Vega Alias
0              AMD            10.98        W  ... -5.8150  0.0656   NaN
1              AMD            10.98        W  ... -2.2249  0.0312   NaN
2              AMD            10.98        W  ... -5.7260  0.0723   NaN
3              AMD            10.98        W  ... -2.1841  0.0345   NaN
4              AMD            10.98        W  ... -5.4655  0.0875   NaN

[5 rows x 20 columns]

## Data Definitions
* Underlying	The stock, index, or ETF symbol
* Underlying_last	The last traded price at the time of the option quote.
* Exchange	The exchange of the quote – Asterisk(*) represents a consolidated price of all exchanges and is the most common value.*
* Optionsymbol	The option symbol. Note that in the format starting 2010 this will be longer than 18 characters, depending on the length of the underlying. Blank This item is always blank, to preserve continuity with the older format. It is always blank. So if you are importing this into a database, either do not import this column, or make the field nullable.
* Optiontype	Call or put Expiration The expiration date of the option.
* Expiration date	The date of the expiration
* Quotedate	The date and time of the quote. Most of the time, the time will be 4:00 PM. This only means that it is at the close, even though some options trade until 4:15 PM EST
* Strike	The strike of the option
* Last	The last traded price of the option which could even be from a previous day.
* Bid	The bid price of the option
* Ask	The ask price of the option
* Volume	The number of contracts traded
* Open interest	Open Interest – always a day behind. The OCC changes this number at 3:00AM every morning and the number does not change through the day
* BELOW THIS LINE, THESE COLUMNS NOT CONTAINED IN BARE BONES PRODUCTS
* Implied volatility	The implied volatility (a measure of the estimate of how much the price could change. A high number means that traders believe the option could make a large change)
* Delta	The delta. (a measure of how much the option price would change in relation to the underlying stock price. A delta of .50 means the option would change 50 cents for every 1 dollar the stock moves)
* Gamma	The gamma. (a measure of how fast the Delta will change when the stock price changes. A high number means this is a very explosive option, and could gain or loss value quickly)
* Theta	The theta (a measure of how fast the option is losing value per day due to time decay. As the expiration day arrives, the theta increases)
* Vega	The vega (a measure of how sensitive the option price is to a change in the implied volatility. Options that are way out of the money, or have a long time until expiration are more sensitive to a change in implied volatility)
* Alias	If possible, the old name of the option. Because of the 2010 OSI Symbology, it is important to know what the old symbol name was during the 2010 switch over. If this can be determined, it will list the old name, otherwise it will display the same value as the option symbol. The Alias column has no usage outside of 2010.

In [ ]:
df_NASDAQ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2026070 entries, 0 to 2026069
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   UnderlyingSymbol  object
 1   UnderlyingPrice   float64
 2   Exchange          object
 3   OptionSymbol      object
 4   Blank             float64
 5   Type              object
 6   Expiration        object
 7   DataDate          object
 8   Strike            float64
 9   Last              float64
 10  Bid               float64
 11  Ask               float64
 12  Volume            float64
 13  OpenInterest      float64
 14  IV                float64
 15  Delta             float64
 16  Gamma             float64
 17  Theta             float64
 18  Vega              float64
 19  Alias             float64
dtypes: float64(14), object(6)
memory usage: 309.2+ MB

In [ ]:
type(df_NASDAQ.Expiration[0])

str

In [ ]:
type(df_NASDAQ.DataDate[0])

str

# add sigma 5/10/21/30 in the options data

In [ ]:
# caculate sigma_5,10,21,30

sybol_list_NASDAQ=df_NASDAQ['UnderlyingSymbol'].unique()
print('symbols of NASDAQ:\n',sybol_list_NASDAQ)

symbols of NASDAQ:
 ['AMD' 'AMED' 'ATLC' 'CROX' 'DXCM' 'FATE' 'FIVN' 'FRPT' 'HZNP' 'LPSN'
 'LULU' 'MRTX' 'NEO' 'NSTG' 'PCTY' 'PTCT' 'QDEL' 'REGI' 'RGEN' 'SPSC'
 'STAA' 'VCYT' 'VICR' 'WIX' 'BLFS' 'JYNT']

In [ ]:
df_option_map={} #map key: underlying symbol
df_underlying_map={} #map key: underlying symbol
for symbol in sybol_list_NASDAQ:
    df_one_symbol=df_NASDAQ[df_NASDAQ['UnderlyingSymbol']== symbol]
    df_one_symbol.to_csv(data_path+symbol+'_option.csv',index=False)
    df_option_map[symbol] = df_one_symbol #add df_one_symbol to map
    df_underlying = pd.DataFrame()
    df_underlying['DataDate'] = df_map["AMD"]['DataDate']
    df_underlying['UnderlyingPrice'] =  df_map["AMD"]['UnderlyingPrice']
    df_underlying=df_underlying.drop_duplicates() # drop the
    for day in [5, 10, 21, 30]:
      df_underlying['sigma_'+str(day)] = df_underlying['UnderlyingPrice'].rolling(day).apply(lambda x: (np.diff(x) / x[:-1]).std())
    df_underlying.to_csv(data_path+symbol+'_underlying.csv',index=False)
    df_underlying_map[symbol] = df_underlying

In [ ]:
len(df_option_map)

26

In [ ]:
len(df_underlying_map)

26

In [ ]:
df_option_map.keys()

dict_keys(['AMD', 'AMED', 'ATLC', 'CROX', 'DXCM', 'FATE', 'FIVN', 'FRPT', 'HZNP', 'LPSN', 'LULU', 'MRTX', 'NEO', 'NSTG', 'PCTY', 'PTCT', 'QDEL', 'REGI', 'RGEN', 'SPSC', 'STAA', 'VCYT', 'VICR', 'WIX', 'BLFS', 'JYNT'])

In [ ]:
df_underlying_map.keys()

dict_keys(['AMD', 'AMED', 'ATLC', 'CROX', 'DXCM', 'FATE', 'FIVN', 'FRPT', 'HZNP', 'LPSN', 'LULU', 'MRTX', 'NEO', 'NSTG', 'PCTY', 'PTCT', 'QDEL', 'REGI', 'RGEN', 'SPSC', 'STAA', 'VCYT', 'VICR', 'WIX', 'BLFS', 'JYNT'])

In [ ]:
df_option_map["AMD"].shape

(295940, 20)

In [ ]:
df_underlying_map['AMD'].shape

(396, 6)

In [ ]:
df_underlying_map['AMD'].head(30)

                     DataDate  UnderlyingPrice  ...  sigma_21  sigma_30
0        1/2/2018 04:00:00 PM          10.9800  ...       NaN       NaN
3530     1/3/2018 04:00:00 PM          11.5500  ...       NaN       NaN
7060     1/4/2018 04:00:00 PM          12.1200  ...       NaN       NaN
10714    1/5/2018 04:00:00 PM          11.8800  ...       NaN       NaN
14394    1/8/2018 04:00:00 PM          12.2800  ...       NaN       NaN
17910    1/9/2018 04:00:00 PM          11.8200  ...       NaN       NaN
21426   1/10/2018 04:00:00 PM          11.9600  ...       NaN       NaN
24942   1/11/2018 04:00:00 PM          12.1404  ...       NaN       NaN
28560   1/12/2018 04:00:00 PM          12.0200  ...       NaN       NaN
32178   1/16/2018 04:00:00 PM          11.9100  ...       NaN       NaN
35638   1/17/2018 04:00:00 PM          12.1800  ...       NaN       NaN
39098   1/18/2018 04:00:00 PM          12.4700  ...       NaN       NaN
42566   1/19/2018 04:00:00 PM          12.5900  ...       NaN       NaN
46066   1/22/2018 04:00:00 PM          12.6400  ...       NaN       NaN
49416   1/23/2018 04:00:00 PM          12.9400  ...       NaN       NaN
52786   1/24/2018 04:00:00 PM          12.7100  ...       NaN       NaN
56170   1/25/2018 04:00:00 PM          12.4100  ...       NaN       NaN
59676   1/26/2018 04:00:00 PM          12.9500  ...       NaN       NaN
63182   1/29/2018 04:00:00 PM          13.3200  ...       NaN       NaN
66526   1/30/2018 04:00:00 PM          12.8650  ...       NaN       NaN
69916   1/31/2018 04:00:00 PM          13.7350  ...  0.029875       NaN
73306    2/1/2018 04:00:00 PM          13.2500  ...  0.030058       NaN
76856    2/2/2018 04:00:00 PM          12.4500  ...  0.031937       NaN
80406    2/5/2018 04:00:00 PM          11.5700  ...  0.035571       NaN
83808    2/6/2018 04:00:00 PM          11.6400  ...  0.034691       NaN
87210    2/7/2018 04:00:00 PM          11.6000  ...  0.033685       NaN
90612    2/8/2018 04:00:00 PM          11.2200  ...  0.034303       NaN
94182    2/9/2018 04:00:00 PM          11.3100  ...  0.034147       NaN
97752   2/12/2018 04:00:00 PM          11.6800  ...  0.035011       NaN
101222  2/13/2018 04:00:00 PM          11.7800  ...  0.035014  0.033618

[30 rows x 6 columns]

In [ ]:
df_underlying=pd.read_csv('AMD_underlying.csv')

In [ ]:
df_underlying

                  DataDate  UnderlyingPrice  ...  sigma_21  sigma_30
0     1/2/2018 04:00:00 PM            10.98  ...       NaN       NaN
1     1/3/2018 04:00:00 PM            11.55  ...       NaN       NaN
2     1/4/2018 04:00:00 PM            12.12  ...       NaN       NaN
3     1/5/2018 04:00:00 PM            11.88  ...       NaN       NaN
4     1/8/2018 04:00:00 PM            12.28  ...       NaN       NaN
..                     ...              ...  ...       ...       ...
391  7/25/2019 04:00:00 PM            33.67  ...  0.018441  0.022449
392  7/26/2019 04:00:00 PM            34.02  ...  0.017786  0.021421
393  7/29/2019 04:00:00 PM            33.48  ...  0.018002  0.020211
394  7/30/2019 04:00:00 PM            33.87  ...  0.017308  0.018911
395  7/31/2019 04:00:00 PM            30.45  ...  0.029230  0.027146

[396 rows x 6 columns]

In [ ]:
df_option=pd.read_csv(data_path+'AMD_option_sigma.csv')

In [ ]:
df_option.head

<bound method NDFrame.head of        UnderlyingSymbol  UnderlyingPrice Exchange  ...  sigma_10  sigma_21  sigma_30
0                   AMD            10.98        W  ...       NaN       NaN       NaN
1                   AMD            10.98        W  ...       NaN       NaN       NaN
2                   AMD            10.98        W  ...       NaN       NaN       NaN
3                   AMD            10.98        W  ...       NaN       NaN       NaN
4                   AMD            10.98        W  ...       NaN       NaN       NaN
...                 ...              ...      ...  ...       ...       ...       ...
295935              AMD            30.45        *  ...  0.037583   0.02923  0.027146
295936              AMD            30.45        *  ...  0.037583   0.02923  0.027146
295937              AMD            30.45        *  ...  0.037583   0.02923  0.027146
295938              AMD            30.45        *  ...  0.037583   0.02923  0.027146
295939              AMD            30.45        *  ...  0.037583   0.02923  0.027146

[295940 rows x 24 columns]>

In [ ]:
joined = df_option_map['AMD'].join(df_underlying_map['AMD'].set_index('DataDate').sigma_5, on='DataDate')

In [ ]:
joined = joined.join(df_underlying_map['AMD'].set_index('DataDate').sigma_10, on='DataDate')

In [ ]:
joined = joined.join(df_underlying_map['AMD'].set_index('DataDate').sigma_21, on='DataDate')

In [ ]:
joined = joined.join(df_underlying_map['AMD'].set_index('DataDate').sigma_30, on='DataDate')

In [ ]:
joined.to_csv(data_path+'AMD_option_sigma.csv',index=False)

In [ ]:
df_underlying2=pd.read_csv(data_path+'AMED_underlying.csv').drop(['UnderlyingPrice'],axis=1)

In [ ]:
df_underlying2.head(40)

                 DataDate   sigma_5  sigma_10  sigma_21  sigma_30
0    1/2/2018 04:00:00 PM       NaN       NaN       NaN       NaN
1    1/3/2018 04:00:00 PM       NaN       NaN       NaN       NaN
2    1/4/2018 04:00:00 PM       NaN       NaN       NaN       NaN
3    1/5/2018 04:00:00 PM       NaN       NaN       NaN       NaN
4    1/8/2018 04:00:00 PM  0.033379       NaN       NaN       NaN
5    1/9/2018 04:00:00 PM  0.041628       NaN       NaN       NaN
6   1/10/2018 04:00:00 PM  0.031806       NaN       NaN       NaN
7   1/11/2018 04:00:00 PM  0.030391       NaN       NaN       NaN
8   1/12/2018 04:00:00 PM  0.024254       NaN       NaN       NaN
9   1/16/2018 04:00:00 PM  0.013347  0.031218       NaN       NaN
10  1/17/2018 04:00:00 PM  0.016696  0.027560       NaN       NaN
11  1/18/2018 04:00:00 PM  0.018930  0.023597       NaN       NaN
12  1/19/2018 04:00:00 PM  0.015341  0.021960       NaN       NaN
13  1/22/2018 04:00:00 PM  0.009781  0.019491       NaN       NaN
14  1/23/2018 04:00:00 PM  0.010068  0.013080       NaN       NaN
15  1/24/2018 04:00:00 PM  0.017244  0.016009       NaN       NaN
16  1/25/2018 04:00:00 PM  0.021644  0.018530       NaN       NaN
17  1/26/2018 04:00:00 PM  0.032468  0.022213       NaN       NaN
18  1/29/2018 04:00:00 PM  0.033402  0.022018       NaN       NaN
19  1/30/2018 04:00:00 PM  0.038221  0.026501       NaN       NaN
20  1/31/2018 04:00:00 PM  0.043453  0.033260  0.029875       NaN
21   2/1/2018 04:00:00 PM  0.050414  0.036731  0.030058       NaN
22   2/2/2018 04:00:00 PM  0.056758  0.042971  0.031937       NaN
23   2/5/2018 04:00:00 PM  0.063308  0.047501  0.035571       NaN
24   2/6/2018 04:00:00 PM  0.034153  0.047762  0.034691       NaN
25   2/7/2018 04:00:00 PM  0.039010  0.047447  0.033685       NaN
26   2/8/2018 04:00:00 PM  0.034526  0.044098  0.034303       NaN
27   2/9/2018 04:00:00 PM  0.018828  0.042047  0.034147       NaN
28  2/12/2018 04:00:00 PM  0.027168  0.044517  0.035011       NaN
29  2/13/2018 04:00:00 PM  0.027158  0.035017  0.035014  0.033618
30  2/14/2018 04:00:00 PM  0.014999  0.038072  0.035571  0.032901
31  2/15/2018 04:00:00 PM  0.018229  0.032721  0.035153  0.031641
32  2/16/2018 04:00:00 PM  0.026974  0.023504  0.035646  0.031920
33  2/20/2018 04:00:00 PM  0.027832  0.023976  0.035887  0.031443
34  2/21/2018 04:00:00 PM  0.021642  0.025796  0.035708  0.030997
35  2/22/2018 04:00:00 PM  0.023834  0.022433  0.035703  0.030977
36  2/23/2018 04:00:00 PM  0.020611  0.022866  0.035688  0.031062
37  2/26/2018 04:00:00 PM  0.023537  0.022381  0.034878  0.031445
38  2/27/2018 04:00:00 PM  0.009342  0.022384  0.034256  0.031403
39  2/28/2018 04:00:00 PM  0.027563  0.023216  0.034225  0.031827

In [ ]:
df_option2=pd.read_csv(data_path+'AMED_option.csv')
df_option2

      UnderlyingSymbol  UnderlyingPrice Exchange  ...    Theta     Vega Alias
0                 AMED            53.79        *  ... -18.7516   2.1553   NaN
1                 AMED            53.79        *  ...  -2.9383   0.6658   NaN
2                 AMED            53.79        *  ... -17.6132   2.5296   NaN
3                 AMED            53.79        *  ...  -1.3447   0.4665   NaN
4                 AMED            53.79        *  ...  -6.6417   1.9471   NaN
...                ...              ...      ...  ...      ...      ...   ...
71113             AMED           137.89        *  ...  -1.3414  56.6774   NaN
71114             AMED           137.89        *  ...  -2.0667  55.1228   NaN
71115             AMED           137.89        *  ...  -1.2338  54.6418   NaN
71116             AMED           137.89        *  ...  -1.9480  52.7085   NaN
71117             AMED           137.89        *  ...  -1.2119  53.4621   NaN

[71118 rows x 20 columns]

In [ ]:
joined = df_option2.join(df_underlying2.set_index('DataDate'), on='DataDate')

In [ ]:
joined.tail(30)

      UnderlyingSymbol  UnderlyingPrice Exchange  ...  sigma_10  sigma_21  sigma_30
71088             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71089             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71090             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71091             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71092             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71093             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71094             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71095             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71096             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71097             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71098             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71099             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71100             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71101             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71102             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71103             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71104             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71105             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71106             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71107             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71108             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71109             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71110             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71111             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71112             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71113             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71114             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71115             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71116             AMED           137.89        *  ...  0.037583   0.02923  0.027146
71117             AMED           137.89        *  ...  0.037583   0.02923  0.027146

[30 rows x 24 columns]

In [ ]:
sybol_list_NASDAQ= ['AMD' 'AMED' 'ATLC' 'CROX' 'DXCM' 'FATE' 'FIVN' 'FRPT' 'HZNP' 'LPSN'
 'LULU' 'MRTX' 'NEO' 'NSTG' 'PCTY' 'PTCT' 'QDEL' 'REGI' 'RGEN' 'SPSC'
 'STAA' 'VCYT' 'VICR' 'WIX' 'BLFS' 'JYNT']
 
for symbol in sybol_list_NASDAQ:
  df_underlying=pd.read_csv(data_path+symbol+'_underlying.csv').drop(['UnderlyingPrice'],axis=1)
  df_option=pd.read_csv(data_path+symbol+'_option.csv')
  joined = df_option.join(df_underlying.set_index('DataDate'), on='DataDate')  
  joined.to_csv(data_path+symbol+'_option_sigma.csv',index=False)

In [ ]:
df_option

In [ ]:
from datetime import datetime
def datetime_cal(date_str):
    return datetime.strptime(date_str,'%m/%d/%Y')
def datetime_diff(row):
  for i in range(len(row)):
    return (datetime_cal(row["Expiration"][i]) - datetime_cal(row["DataDate"][i].split(' ')[0])).days